<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joint Step</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<header>

</header>
<body>
    <div class="main">
        <div class="context-menu">
            
        </div>
        <div class="right-context-box">
        </div>
    </div>

    <script src="../../js/profile/profile.js" type="module"></script>
</body>
</html>