<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joint Step</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <nav class="nav-container">
        <div class="nav-items">
            <ul class="nav-left-ul">
                <li class="nav-bar"><a href="#">настройки</a></li>
                <li class="nav-bar"><a href="#">поддержка</a></li>
                <li class="nav-bar"><a href="#">сервисы</a></li>
            </ul>

            <div class="top-home">
                <input class="search-panel" type="text" placeholder="Поиск">
                <h2 class="logo-header">Joint Step</h2>
            </div>
        </div>
    </nav>


    <div class="main">
        <div class="context-menu">
            <div class="profile">
                <div class="avatar"> </div>
                <div class="profile-text">
                    <h1 class="person-name">Имя Пользователя</h1>
                </div>
            </div>
            <div class="iternal-content">
                <div class="container-image">
                    <ul class="image-block">
                        <li class="user-images-li">

                            <img class="user-image" src="" alt="фото пользователя">
                        </li>
                        <li class="user-images-li">
                            <img class="user-image" src="" alt="фото пользователя">
                        </li>
                        <li class="user-images-li">
                            <img class="user-image" src="" alt="фото пользователя">
                        </li>
                        <li class="user-images-li">
                            <img class="user-image" src="" alt="фото пользователя">
                        </li>
                        <li class="user-images-li">
                            <img class="user-image" src="" alt="фото пользователя">
                        </li>
                        <li class="user-images-li">
                            <img class="user-image" src="" alt="фото пользователя">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="right-context-box">
            <div class="container-right">
                <ul>
                    <div class="right-text">
                        <li><a href="#">Моя страница</a></li>
                    </div>
                    <div class="right-text">
                        <li><a href="#">Друзья</a></li>
                    </div>
                    <div class="right-text">
                        <li><a href="">Чаты</a></li>
                    </div>
                    <div class="right-text">
                        <li><a href="#">Маршруты</a></li>
                    </div>
                    <div class="right-text">
                        <li><a href="#">Истории</a></li>
                    </div>
                </ul>
            </div>

            <div class="container-friends">
                <h2 class="friend-h2">Друзья в сети</h2>
                <ul class="friend-ul">
                    <li class="friend-wrapper">
                        <img class="friend-image" src="" alt="фото профиля">
                        <a href="#" class="friend-name">Друг</a>
                    </li>
                    <li class="friend-wrapper">
                        <img class="friend-image" src="" alt="фото профиля">
                        <a href="#" class="friend-name">Друг</a>
                    </li>
                    <li class="friend-wrapper">
                        <img class="friend-image" src="" alt="фото профиля">
                        <a href="#" class="friend-name">Друг</a>
                    </li>
                    <li class="friend-wrapper">
                        <img class="friend-image" src="" alt="фото профиля">
                        <a href="#" class="friend-name">Друг</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</body>

</html>