/* Навигационная панель в Layout */
.layout-logo {
    margin-left: 10px;
    color: rgb(253, 217, 116);
}

.layout-nav-link{
    margin-right: 10px;
}

.layout-nav-panel {
    display:flex;
    justify-content:center;
    padding: 10px;
    margin: 0%;
    margin-bottom: 5px;
    background-color: rgb(45, 45, 45);
    border-radius: 0px 0px 15px 15px;
}


.layout-nav-panel-container {
    display: flex;
    justify-content: space-between;
    width: 950px;
}


.form-reg-input {
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(70, 70, 70);
    border-width: 1px;
}