<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autorization</title>
    <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
    <div class="aut-content-block">
        <div class="autorization-panel">
            <h3>Авторизация</h3>
            <p>Логин</p>
            <input type="text" id="login" />
            <p>Пароль</p>
            <input id="password" />
            <button type="submit" id="aut-button">Войти</button>
            <button type="submit" id="reg-button" onclick="location.href='./reg-index.html'">
                Зарегестрироваться
            </button>
        </div>
        <script type="module" src="../../js/autorization/log.js"></script>
    </div>
</body>

</html>