<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="aut-content-block">
        <div class="autorization-panel">
            <h3>Регистрация</h3>
            <p>Имя</p>
            <input id="name">
            <p>Фамилия</p>
            <input id="surname">
            <p>Номер телефона</p>
            <input id="phone">
            <p>Логин</p>
            <input id="login">
            <p>Пароль</p>
            <input id="password">
            <button type="submit" id="submit">Зарегистрироваться</button>
        </div>
    </div>
    <script type="module" src="../../js/autorization/reg.js"></script>
</body>
</html>

